# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org/

root = true

[*]
# Change for personal preference
indent_style = tab
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[*.html]
max_line_length = none

[*.js]
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = both
indent_brace_style = 1TBS
continuation_indent_size = 4

[*.sass]
indent_style = tab

[.eslintrc]
indent_style = space
indent_size = 2
