$sections-max-content-width: 1200px !default;
$layout-row-prefix: 'col' !default;
$layout-col-prefix: 'col' !default;
$layout-grids: (12) !default;
$layout-gutter: 15px !default;
$layout-bp-sm-min: 480 !default;
$layout-bp-md-min: 768 !default;
$layout-bp-lg-min: 1024 !default;
$layout-bp-xl-min: 1200 !default;
